h4{
    font-family: "Poppins";
    height: 5vmax;
    margin: 10% auto 7% auto;
}

.italic{
    font-style:italic;
}

.inline{
    display: inline-block;
}


.blogcreatewrapper {
text-align:left;
width: 80%;
margin: 8% auto 2% auto ;

}

.bloginputdiv{
margin:2% auto;
width:100%;
}

.blogtitlediv {
margin:2% auto;
width:100%;
font-family: "Nunito Light";
}

.blogtextareadiv {
margin:2% auto;

}
.submitbuttondiv{
    width:100%;
    margin: 2% 0 2% 0;
}
.submitbutton {
    margin: auto;
    width: 100%;
    display: block;
    background-color:gold;
    border:none;
    font-family: "Poppins";
    height:5.25vmax;
}

#posttitle {
    width: 75%;
    margin:auto;
    font-family:"Nunito Light";
}

.posttitleinput {
    
    width: 100%;
}

textarea{
    max-height:100%;
    max-width:100%;
    resize: none;
}

.posttextarea {

height: auto;
width: auto;


}

.bottomnavlinkdiv{
    margin:2% auto;
}


nav ul li {
}

.buttonsingle {
    max-width: 100%;
    text-align: center;
    border: solid .01vmax rgba(2,8,72,.90);
    color: #000;
    padding: 1%;
    margin: 2% 0 2% 0;
    text-decoration: none;
    display:block;
    font-family:"Nunito Light";
}


/*Index Page*/
/*Index Table*/

th {
    border-bottom: 1px solid #ddd;
    font-family:"Poppins";
    text-align: center;
}

td {
   font-family: "Nunito Light";
   padding:.5%;

}

th, td {
   
}

tr:hover {
    background-color: #f5f5f5
}
/*End Index Table Styles*/
.divfortable{
    margin: 8% auto 2% auto;
}
.divforactionlinkindex {
    text-align: center;
    margin: 5% auto 3% auto;
    
}
.createnewlink {
    width: 100%;
    margin: auto;
    font-family: "Nunito Light";

}

/*Details Page*/
dt{
    font-family:"Poppins";
}

dd{
    margin: 2% auto 2% auto;
    font-family: "Nunito Light";
}

.titleforlistitem{
    font-size: 2vmax;
}

.detailslistdiv{
    margin: 7% auto 5% auto;

}

@media screen and (min-width: 768px) {

    /*Button Links*/

    .blognav{
        margin: auto 2% auto 47%;
        width: 80%;
    }
    nav ul li {
        margin: 0 auto 5% auto;
        
        }

    .buttonsingle {
        text-align: center;
        border: solid .01vmax #000;
        color: #000;
        padding: 1%;
        margin: auto;
        text-decoration: none;
        border-radius: 40vmax;
        height: 2vmax;
        width: 12vmax;
        font-size: 1.5vmax;
        line-height: 2.1vmax;
    }

    .button {
        text-align: center;
        border: solid .01vmax #000;
        color: #000;
        padding: 1%;
        margin: auto;
        text-decoration: none;
        border-radius: 40vmax;
        height: 2vmax;
        width: 12vmax;
        font-size: 1.5vmax;
        line-height: 2.1vmax;
    }



        
    

        /* Links */

        /* unvisited link */


    nav ul li a {
        
    }


        /* visited link */
    a.button:visited {
        color: #08171c;
    }

    a.button:hover {
         background-color: #08171c;
            color: #fff;
    }

    a.button:active {
        background-color: #08171c;
        color: #e1edf0;
    }
        

    .bloginput {
        text-align: left;
        width: 65%;
        margin: 0 auto 5% 10%;
    }
    
    .posttitle {
        width: 75%;
        margin: auto;
    }

    .blogtextarea {
        margin: 5% auto;
        width: 80%;
    }

    .submitbutton {
    }

    
 

    } /*End query for 768px*/